/* Video Single Item */
.video-single-item {
  margin-bottom: 2rem;
  text-align: center;
}

.video-single-item:last-child {
  margin-bottom: 0;
}

.tiktok-embed {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 605px;
}

@media (min-width: 768px) {
  .video-single-item {
    margin-bottom: 2.5rem;
  }
}
